@model IEnumerable<task_final.Models.Account>
@{
	ViewData["Title"] = "Account List";
}
<h1>@ViewData["Title"]</h1>
<hr />
@if (Model.Count() == 0) {
	<partial name="_EmptyList" />
} else {
	<table class="table">
		<thead class="table-light">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ID)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Role)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Role)
					</td>
					<td class="text-center">
						<a asp-action="AccountDetails" asp-route-account_id="@item.ID" class="btn btn-primary btn-lg">Details</a>&emsp;
						<a asp-action="AccountDelete" asp-route-account_id="@item.ID" class="btn btn-danger btn-lg">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
<div class="text-center">
	<a asp-action="AccountCreate" class="btn btn-primary btn-lg">Create Account</a>
</div>