@model IEnumerable<task_final.ViewModels.ProductImageGetViewModel>
@{
	ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>
<p>
	<a asp-action="ProductAdd">Add Product</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProductID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductCategory)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductDescription)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ImageSource)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ProductID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductCategory)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductDescription)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductPrice)
				</td>
				<td>
					<img src="@Html.DisplayFor(modelItem => item.ImageSource)" height="200" />
				</td>
				<td>
					<a asp-action="ProductDetails" asp-route-id="@item.ProductID">Details</a>
					<a asp-action="ProductDelete" asp-route-id="@item.ProductID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>