@model IEnumerable<task_final.ViewModels.ShoppingListListViewModel>
@{
	ViewData["Title"] = "ShoppingListList";
}
<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="ShoppingListCreate">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AccountID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AccountName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalCost)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AccountID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AccountName)
				</td>
				<th>
					@Html.DisplayFor(model => item.TotalCost)
				</th>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					<a asp-action="ShoppingListDetails" asp-route-id="@item.ID">Details</a>
					<a asp-action="ShoppingListEdit" asp-route-id="@item.ID">Edit</a>
					<a asp-action="ShoppingListDelete" asp-route-id="@item.ID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>